<mat-toolbar color="#d7d7d7" class="app-toolbar">
  <section [routerLink]="['/artists']" id="app-icon-name">
    <img src="../../assets/images/icon.png" id="menu-icon" />
    <span id="menu-name">WEEQND<sub>music</sub></span>
  </section>

  <span class="fill-remaining-space"></span>

  <form class="search-form" [formGroup]="form">
     <mat-form-field>
      <mat-label>Search for Artists</mat-label>
      <input
        matInput
        placeholder="Daft Punk"
        formControlName="query"
        type="text"
        id="searchArtistName"
      />
    </mat-form-field>
  </form>

</mat-toolbar>
