<ng-container *ngIf="(pageLoading$ | async) === false">
  <app-menu>
    <button
      [routerLink]="['/artists']"
      class="returnButton"
      mat-button
      matSuffix
      mat-icon-button
      matTooltip="Return to artists page."
      aria-label="home link">
      <div class="text-icon-button">
        <mat-icon>home</mat-icon>
        Return to artists page
      </div>
    </button>
  </app-menu>
  <ng-container
    *ngIf="tracks.data.length > 0; then thenTemplate; else elseTemplate"
  >
  </ng-container>
  <ng-template #thenTemplate>
    <section class="artist-landing">
      <section
        class="hero-image"
        [ngStyle]="{ 'background-image': 'url(' + artist.picture_xl + ')' }"
      >
        <div class="hero-image-details">
          <h1>{{ artist.name }}</h1>
          <h3>{{ artist.nb_fan }} Fans</h3>
        </div>
      </section>
      <section class="top-tracks" *ngIf="tracks.data as tracks">
        <mat-card class="tracks-card">
          <mat-card-header>
            <mat-card-title>
              Top Tracks
            </mat-card-title>
          </mat-card-header>
          <ng-container *ngFor="let track of tracks">
            <mat-divider> </mat-divider>
            <mat-list>
              <app-track-list [track]="track"></app-track-list>
            </mat-list>
          </ng-container>
        </mat-card>
      </section>
    </section>
  </ng-template>

  <ng-template #elseTemplate>
    <section class="artist-landing-no-tracks">
      <section
        class="hero-image"
        [ngStyle]="{ 'background-image': 'url(' + artist.picture_xl + ')' }">
        <div class="hero-image-details">
          <h1>{{ artist.name }}</h1>
          <h3>{{ artist.nb_fan }} Fans</h3>
        </div>
      </section>
    </section>
  </ng-template>

  <div *ngIf="albums" id="album-heading">
    <h1>Albums</h1>
  </div>

  <ng-container *ngIf="albums.data.length > 0; else elseAlbumTemplate">
    <section class="album-container">
      <ng-container *ngFor="let album of albums.data" class="album-card-container">
        <app-album-card [album]="album"></app-album-card>
      </ng-container>
    </section>
  </ng-container>
  <ng-template #elseAlbumTemplate>
    <div id="album-heading">
      <h3>Sorry, {{ artist.name }} has no albums available at the moment.</h3>
    </div>
  </ng-template>
</ng-container>

<div *ngIf="(pageLoading$ | async)" class="loading-indicator">
  <ng-container>
    <app-spinner></app-spinner>
  </ng-container>
</div>
